<header class="header">
  <div class="header__logo header__logo--ang">
    <img class="header__img" src="/assets/images/angular-js.png" alt="">
  </div>
  <div class="header__vs">
    <p>vs.</p>
  </div>
  <div class="header__logo header__logo--emb">
    <img class="header__img" src="/assets/images/ember-js.png" alt="">
  </div>
</header>
{{outlet}}
<footer class="footer">
  <h1>Sources</h1>
  <p><a class="footer__link" href="https://www.airpair.com/js/javascript-framework-comparison" target="_blank">https://www.airpair.com/js/javascript-framework-comparison</a></p>
</footer>
